@import "./variables";
@import "./globals";
@import "./grid";
@import "./header";
@import "./side-nav";
@import "./user-sidebar";
@import "./media-queries/news-feed-media-queries";

.hero-container {
    grid-area: hero-container;

    .image-container {
        position: relative;
        width: 100%;
        height: 30vw;
        overflow: hidden;

        .hero-image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &::before {
            content: "";
            width: 100%;
            height: 65%;
            background: linear-gradient(to top, $darkBlue, transparent);
            position: absolute;
            bottom: -20px;
            left: 0;
            z-index: 1;
        }

        .content {
            position: absolute;
            bottom: 100px;
            padding-left: 3.125rem;
            z-index: 2;

            h1, h2 {
                color: $white;

                @include breakpoint-down(large) {
                    display: none;
                }
            }

            .btn-watch {
                margin-top: 25px;
            }

            .btn-status {
                margin-bottom: 25px;
                
                small {
                    color: $white;
                }
            }

            @include breakpoint-down(large) {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                bottom: unset;
                padding: 1.5rem 3.125rem 1.5rem;
            }
        }

        .slides {
            position: absolute;
            bottom: 50px;
            right: -100px;
            display: flex;
            align-items: center;
            z-index: 1;

            .slide {
                position: relative;
                width: 170px;
                border-radius: 20px;
                overflow: hidden;
                cursor: pointer;

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                @include breakpoint-down(large) {
                    margin-bottom: 5px;
                }

                @include breakpoint-down(medium) {
                    width: 130px;
                }
            }

            .slide:not(:last-of-type) {
                margin-right: 15px;

                @include breakpoint-down(large) {
                    margin-right: unset;
                }
            }

            .slide-active {
                width: 180px;
                padding: 2px 6px;
                background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0.33, $orange), color-stop(0.67, $lightOrange));
                box-shadow: 0 0 15px rgba($orange, 0.75), -5px 5px 15px rgba($darkBlue, 0.75);

                img {
                    margin-top: 4px;
                    border-radius: 14px;
                }

                @include breakpoint-down(large) {
                    transform: translateX(-15px);
                }

                @include breakpoint-down(medium) {
                    transform: translateX(-15px);
                    width: 140px;
                }
            }

            .btn-slide-back {
                position: absolute;
                left: -19px;
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to right, $orange, $lightOrange);
                box-shadow: 0 0 15px rgba($orange, 0.75);
                z-index: 1;

                &::before {
                    display: none;
                }

                svg {

                    .arrow-ico {
                        fill: $white;
                    }

                    @include breakpoint-down(large) {
                        transform: rotate(90deg);
                     }
                }

                @include breakpoint-down(large) {
                   top: 28px;
                }

                @include breakpoint-down(medium) {
                    top: 17px
                }
            }

            @include breakpoint-down(large) {
                bottom: unset;
                align-items: unset;
                top: 10px;
                right: 0;
                flex-direction: column;
            }
        }
    }

    .slider-bar {
        width: 100%;
        height: 4px;
        background-color: $darkGrey;
        position: absolute;
        bottom: 0;
        border-radius: 50px;
        z-index: 1;

        .active-bar {
            position: absolute;
            left: 0;
            height: 100%;
            background: linear-gradient(to right, $orange, $lightOrange);
            border-radius: 50px;
        }
    }
}

.live-container {
    grid-area: live-container;
}

.channels-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    grid-gap: 30px;

    .box {

        .channel-img {
            position: relative;
            display: flex;
            justify-content: center;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            overflow: hidden;

            img {
                width: 100%;
                transition: all 300ms ease;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                box-shadow: inset -5px 5px 40px $black;
            }

            .btn-play {
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to right, rgba($orange, 0.75), rgba($lightOrange, 0.75));
                box-shadow: 0 0 15px rgba($orange, 0.75);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 300ms ease;
                z-index: 1;

                svg {
                    transform: rotate(180deg);

                    .arrow-ico {
                        fill: $white;
                    }
                }

                &::before {
                    display: none;
                }

                &:hover {
                    transform: translate(-50%, -50%) scale(1.35);
                }
            }
        }

        .content {
            padding: 14px 19px;
            
            h4 {
                height: 45px;
                max-height: 150px;
                color: $white;
            }

            .about {
                display: flex;
                align-items: center;
                margin-top: 14px;

                .logo {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $lighterGrey;
                    overflow: hidden;

                    img {
                        width: 26px;
                    }

                    .avatar {
                        width: 32px;
                        margin-top: 12px;
                        margin-left: 1px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 14px;

                    small:first-child {
                        position: relative;
                        display: flex;
                        align-items: center;
                        color: $white;

                        .status {
                            position: initial;
                            right: 0;
                            margin-left: 5px;
                        }
                    }

                    small:last-child {
                        margin-top: 3px;
                        font-size: 0.65rem;
                    }
                }
            }
        }

        .stats {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 14px 19px;
            border-top: 1px solid $darkBlue;

            .live {
                position: initial;
                right: initial;
                width: 65px;

                small {
                    font-size: 0.65rem;
                    color: $white;
                    margin-right: 5px;
                }
            }

            .watchers {

                .online {
                    position: initial;
                    right: initial;
                    background: linear-gradient(to right, $orange, $lightOrange);
                    box-shadow: 0 0 5px rgba($orange, 0.75);
                    margin-right: 5px;
                }
            }
        }
    }
}

.following-container {
    grid-area: following-container;

    .following-section {
        position: relative;
        max-height: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, auto));
        grid-column-gap: 30px;
        background-color: $darkGrey;
        box-shadow: -5px 5px 20px rgba($black, 0.1);
        border-radius: 25px;
        padding: 0 3.125rem;
        overflow-y: scroll;

        .user-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 2rem 2rem 2rem;
            border-radius: 25px;
            transition: background-color 200ms ease;
            cursor: pointer;

            .status-box {
                padding: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .status {
                    position: absolute;
                    right: initial;
                }
            }

            .user-name {
                font-size: 0.75rem;
                font-weight: 800;
                color: $white;
                margin-top: 15px;
            }

            .active {
                font-size: 0.7rem;
                font-weight: 800;
                margin-top: 5px;
            }
        }
    }
}

.popular-container {
    grid-area: popular-container;

    .popular-section {

        .featured {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100%;
            }

            .content {
                position: absolute;
                left: 0;
                bottom: 100px;
                padding-left: 3.125rem;
                z-index: 2;

                .categories {

                    .btn-type:first-child {
                        background: linear-gradient(to right, $blue, $lightBlue);
                        margin-right: 10px;
                    }

                    .btn-type:last-child{
                        background: linear-gradient(to right, $purple, $lightPurple);
                    }
                }

                .game-title {
                    margin-top: 25px;
                    color: $white;
                    
                    @include breakpoint-down(large) {
                        display: none;
                    }
                }

                .watchers {
                    margin-top: 5px;

                    .status {
                        position: initial;
                        margin-right: 5px;
                    }

                    small {
                        color: $white;
                    }

                    @include breakpoint-down(large) {
                        display: none;
                    }
                }

                .btn-follow {
                    margin-top: 25px;
                }

                @include breakpoint-down(large) {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    bottom: unset;
                    padding: 1.5rem 0 1.5rem 3.125rem;
                }
            }

            &::before {
                content: "";
                width: 100%;
                height: 65%;
                background: linear-gradient(to top, $darkBlue, transparent);
                position: absolute;
                bottom: -20px;
                left: 0;
                z-index: 1;
            }
        }

        .popular-games {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, auto));
            grid-gap: 30px;
            margin-top: 30px;

            .popular-game {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 10px 35px 10px;

                img {
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 0 0 15px $darkBlue;
                }

                .content {
                    padding: 35px 25px 0 25px;

                    .categories {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 25px;

                        .btn-type:not(:last-of-type) {
                            margin: 0 10px 10px 0;
                        }
                    }

                    .game-title {
                        height: 50px;
                        color: $white;
                    }

                    .watchers {
                        margin-top: 10px;

                        .status {
                            position: initial;
                            margin-right: 5px;
                        }

                        small {
                            color: $white;
                        }
                    }

                    .btn-follow {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

.recommended-container {
    grid-area: recommended-container;

    .container-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}