// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lighterGrey: hsl(227, 8%, 34%);
$darkGrey: hsl(229, 11%, 20%);
$darkBlue: hsl(227, 13%, 14%);
$orange: hsl(20, 88%, 54%);
$lightOrange: hsl(33, 97%, 51%);
$green: hsl(113, 87%, 70%);
$lightGreen: hsl(114, 72%, 68%);
$blue: hsl(215, 83%, 58%);
$lightBlue: hsl(214, 74%, 63%);
$purple: hsl(293, 87%, 58%);
$lightPurple: hsl(292, 87%, 62%);